# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Xmen9\Desktop\Projects\Repos\DigitalAssets\Maya\_Scripts\Python\Rigging Tools with UI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
